---
import { MainPage } from '../components/MainPage';
import { SEO } from '../components/SEO';
---

<html lang="en" class="w-full min-h-full m-0 bg-gray-900 text-gray-200">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<SEO />
	</head>
	<body class="w-full min-h-full m-0 grid place-items-center bg-grid">
		<main class="w-full min-h-full max-w-3xl p-5">
			<MainPage />
		</main>
	</body>
</html>